<!-- Details -->
<div class="mb-4 mt-16 ">
    <div class="text-center">
        <h3 class="text-3xl">Panchami Comforts</h3>
        <p class="mt-5">No 1, Back Gate, GLOBAL VILLAGE TECH PARK,<br> Balaji Tower, Mylasandra, BEML Layout 7th
            Stage,
            Bengaluru, Karnataka 560059</p>
        <p>Ph: 9901744166</p>
        <p>Ph: 9341300698</p>
        <p>E-mail: panchamicomforts@gmail.com</p>
    </div>
</div>
<!-- Details End -->
<!-- Footer -->
<div class="container grid lg:grid-cols-2 sm:grid-cols-1 text-black  font-thin">
    <div class="text-center">
        <h1 class="">Copyright © 2023 Panchami Comforts All Rights Reserved Version 1(Beta)</h1>
    </div>
    <div class="text-center">
        <h1 class=""> Website Design & Maintain by Chandra Shekar R </h1>
    </div>
</div>
<!-- Footer End -->