<app-nav></app-nav>
<!-- Facilites -->
<div class="">
    <img src="../../assets/facilities.avif">
    <h1 class="text-3xl text-center mt-14">Facilities at Panchami Comforts</h1>
    <p class="text-2xl mt-10 text-center">Panchami Comforts, our hotel near Global Village Tech Park, Mylasandra, is the
        perfect place to stay,<br> whether you
        are in the city for pleasure orbusiness. Our budget hotel in Bangalore provides an excellent<br> blend of style,
        comfort and space, alongside a range of contemporary facilities. From 24-hour room service,<br> housekeeping and
        CCTV surveillance to a travel desk and taxis for your commute, we offer a range of facilities<br> so that you
        can
        unwind in comfort in your own happy space.</p>
    <div class="container grid lg:grid-cols-2 sm:grid-cols-1 mt-10 text-center text-2xl font-mono">
        <ul>
            <li>Ample Parking Space</li>
            <li>24x7 CCTV Survaliance</li>
            <li>Complimentary Breakfast</li>
            <li>Daily Newspaper</li>
            <li>Locker/Private Safe</li>
            <li>Free Wi-Fi</li>
        </ul>
        <ul>
            <li>24-hour Room Service</li>
            <li>Laundry Service</li>
            <li>Housekeeping</li>
            <li>Travel Desk</li>
            <li>Taxi Service</li>
            <li>Power Backup</li>
        </ul>
    </div>

    <!-- Booking -->
    <div class="booking-2 mt-16">
        <h1 class="text-gray-900  text-4xl text-center font-mono p-2">Call / WhatsApp For Reservation And
            get
            10%
            discount
            and Get 23hrs from Check In time </h1>
        <div class="flex mb-4 mt-10 text-center">
            <div class="w-1/2 ">
                <a href="tel:+919901744166"
                    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Call
                    Us Now</a>
            </div>
            <div class="w-1/2 "><a href="https://api.whatsapp.com/send?phone=919901744166"
                    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">WhatsApp</a>
            </div>
        </div>
    </div>
    <!-- Booking End -->
    <app-footer></app-footer>
</div>