<app-nav></app-nav>
<!-- Facilites -->
<div class="">
    <img src="../../assets/facilities.avif" class="mt-16">
    <h1 class="text-3xl text-center mt-14">Facilities at Panchami Comforts</h1>
    <p class="text-2xl mt-10 text-center">Panchami Comforts, our hotel near Global Village Tech Park, Mylasandra, is the
        perfect place to stay,<br> whether you
        are in the city for pleasure orbusiness. Our budget hotel in Bangalore provides an excellent<br> blend of style,
        comfort and space, alongside a range of contemporary facilities. From 24-hour room service,<br> housekeeping and
        CCTV surveillance to a travel desk and taxis for your commute, we offer a range of facilities<br> so that you
        can
        unwind in comfort in your own happy space.</p>
    <div class="container grid lg:grid-cols-2 sm:grid-cols-1 mt-10 text-center text-2xl font-mono">
        <ul>
            <li>Ample Parking Space</li>
            <li>24x7 CCTV Survaliance</li>
            <li>Complimentary Breakfast</li>
            <li>Daily Newspaper</li>
            <li>Locker/Private Safe</li>
            <li>Free Wi-Fi</li>
        </ul>
        <ul>
            <li>24-hour Room Service</li>
            <li>Laundry Service</li>
            <li>Housekeeping</li>
            <li>Mini Bar</li>
            <li>Taxi Service</li>
            <li>Power Backup</li>
        </ul>
    </div>

      <!-- Booking End -->
    <app-footer></app-footer>
</div>