<head>
<title>Panchami Facilites</title>
</head>

<nav class="bg-white border-gray-200 fixed w-full top-0 left-0 dark:bg-gray-900">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-3">
        <img src="../../assets/panchami comforts logo_page-0001.jpg" class="h-20" alt="Panchami Logo" />
        <span class="self-center text-3xl font-serif  dark:text-white">Panchami Comforts</span>           
        <div class="w-full md:block md:w-auto" id="navbar-default">
            <ul
                class="font-medium grid  lg:grid-cols-6 gap-7 grid-cols-3 p-4 border border-gray-100 rounded-lg bg-gray-50  md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
                <li>
                    <a href="#"
                        class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"
                        aria-current="page">Home</a>
                </li>
                <li>
                    <a href="/facilities"
                        class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Facilites</a>
                </li>
                <li>
                    <a href="/rooms"
                        class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Rooms</a>
                </li>
                <li>
                    <a href="/gallery"
                        class="block py-2 pl-3 pr-4  text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Gallery</a>
                </li>
                <li>
                    <a href="/contact-us"
                        class="block py-2 ml-1  pr-4 text-gray-900 rounded  hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Book Now</a>
                </li>
            </ul>
        </div>
    
    </div>
</nav>
<!-- Facilites -->
<div class="">
    <img src="../../assets/facilities.avif" class="mt-16">
    <h1 class="text-3xl text-center mt-14">Facilities at Panchami Comforts</h1>
    <p class="text-2xl mt-10 text-center">Panchami Comforts, our hotel near Global Village Tech Park, Mylasandra, is the
        perfect place to stay,<br> whether you
        are in the city for pleasure orbusiness. Our budget hotel in Bangalore provides an excellent<br> blend of style,
        comfort and space, alongside a range of contemporary facilities. From 24-hour room service,<br> housekeeping and
        CCTV surveillance to a travel desk and taxis for your commute, we offer a range of facilities<br> so that you
        can
        unwind in comfort in your own happy space.</p>
    <div class="container grid lg:grid-cols-2 sm:grid-cols-1 mt-10 text-center text-2xl font-mono">
        <ul>
            <li>Ample Parking Space</li>
            <li>24x7 CCTV Survaliance</li>
            <li>Complimentary Breakfast</li>
            <li>Daily Newspaper</li>
            <li>Locker/Private Safe</li>
            <li>Free Wi-Fi</li>
        </ul>
        <ul>
            <li>24-hour Room Service</li>
            <li>Laundry Service</li>
            <li>Housekeeping</li>
            <li>Mini Bar</li>
            <li>Taxi Service</li>
            <li>Power Backup</li>
        </ul>
    </div>

      <!-- Booking End -->
    <!-- Details -->
<div class="mb-4 mt-16 ">
    <div class="text-center">
        <h3 class="text-3xl">Panchami Comforts</h3>
        <p class="mt-5">No 1, Back Gate, GLOBAL VILLAGE TECH PARK,<br> Balaji Tower, Mylasandra, BEML Layout 7th
            Stage,
            Bengaluru, Karnataka 560059</p>
        <p>Ph: 9901744166</p>
        <p>Ph: 9341300698</p>
        <p>E-mail: panchamicomforts@gmail.com</p>
    </div>
</div>
<!-- Details End -->
<!-- Footer -->
<div class="container grid lg:grid-cols-2 sm:grid-cols-1 text-black  font-thin">
    <div class="text-center">
        <h1 class="">Copyright © 2023 Panchami Comforts All Rights Reserved Version 1(Beta)</h1>
    </div>
    <div class="text-center">
        <h1 class=""> Website Design & Maintain by Chandra Shekar R </h1>
    </div>
</div>
<!-- Footer End -->
</div>