<app-nav></app-nav>


<!-- Contact -->
<div class="">
    <img src="../../assets/Contact.avif" class="mt-32">
    <h1 class="text-2xl text-center mt-10 ">Hotel Panchami Comforts is a contemporary hotel located centrally in BEML Layout 7th Stage, Mylasandra.<br> The
        hotel is just a 2-minute walk away from Global Village Tech Park, and is a perfect place to stay for business
        travellers.</h1>
    <!-- Details -->
    <div class="mb-4 mt-16 ">
        <div class="text-center">
            <h3 class="text-3xl">Panchami Comforts</h3>
            <p class="mt-5">No 1, Back Gate, GLOBAL VILLAGE TECH PARK,<br> Balaji Tower, Mylasandra, BEML Layout 7th
                Stage,
                Bengaluru, Karnataka 560059</p>
            <p>Ph: 9901744166</p>
            <p>Ph: 9341300698</p>
            <p>E-mail: panchamicomforts@gmail.com</p>
        </div>
    </div>
    <!-- Details End -->
    <!-- Map -->
    <div class="">
        <a href="https://maps.app.goo.gl/8dka1BkNM1Ye6wG77"><img src="../../assets/Map.png"
                class="max-w-sm w-full mt-5 h-96  flex-row lg:max-w-full lg:flex"></a>
    </div>
    <!-- Map End -->
    <!-- Footer -->
    <app-footer></app-footer>
    <!-- Footer End -->