<nav class="bg-white border-gray-200 fixed w-full top-0 left-0 dark:bg-gray-900">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-3">
        <img src="../../assets/panchami comforts logo_page-0001.jpg" class="h-20" alt="Panchami Logo" />
        <span class="self-center text-3xl font-serif  dark:text-white">Panchami Comforts</span>           
        <div class="w-full md:block md:w-auto" id="navbar-default">
            <ul
                class="font-medium grid  lg:grid-cols-6 gap-7 grid-cols-3 p-4 border border-gray-100 rounded-lg bg-gray-50  md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
                <li>
                    <a href="#"
                        class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"
                        aria-current="page">Home</a>
                </li>
                <li>
                    <a href="/facilities"
                        class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Facilites</a>
                </li>
                <li>
                    <a href="/rooms"
                        class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Rooms</a>
                </li>
                <li>
                    <a href="/gallery"
                        class="block py-2 pl-3 pr-4  text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Gallery</a>
                </li>
                <li>
                    <a href="/contact-us"
                        class="block py-2 ml-1  pr-4 text-gray-900 rounded  hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Book Now</a>
                </li>
            </ul>
        </div>
    
    </div>
</nav>