<app-nav></app-nav>



<div class="grid grid-cols-2 mt-32 md:grid-cols-3 gap-4">
    <div>
        <img class="h-auto max-w-full rounded-lg" src="../../assets/front.jpeg" alt="">
    </div>
    <div>
        <img class="h-auto max-w-full rounded-lg" src="../../assets/front-1.jpeg" alt="">
    </div>
    <div>
        <img class="h-auto max-w-full rounded-lg" src="../../assets/PHOTOS 01.png" alt="">
    </div>
    <div>
        <img class="h-auto max-w-full rounded-lg" src="../../assets/PHOTOS 02.png" alt="">
    </div>
    <div>
        <img class="h-auto max-w-full rounded-lg" src="../../assets/PHOTOS 03.jpg" alt="">
    </div>
    <div>
        <img class="h-auto max-w-full rounded-lg" src="../../assets/PHOTOS 04.png" alt="">
    </div>
    <div>
        <img class="h-auto max-w-full rounded-lg" src="../../assets/PHOTOS 05.jpg" alt="">
    </div>
    <div>
        <img class="h-auto max-w-full rounded-lg" src="../../assets/rep.JPG" alt="">
    </div>
    <div>
        <img class="h-auto max-w-full rounded-lg" src="../../assets/panchami comforts logo_page-0001.jpg" alt="">
    </div>
    <div>
        <img class="h-auto max-w-full rounded-lg" src="../../assets/Map.png" alt="">
    </div>
    <div>
        <img class="h-auto max-w-full rounded-lg" src="../../assets/Corridor.avif" alt="">
    </div>
    <div>
        <img class="h-auto max-w-full rounded-lg" src="../../assets/Facade.avif" alt="">
    </div>
    <div>
        <img class="h-auto max-w-full rounded-lg" src="../../assets/Passage_City_View.avif" alt="">
    </div>
    <div>
        <img class="h-auto max-w-full rounded-lg" src="../../assets/Rest_Room.avif" alt="">
    </div>
</div>

<!-- Footer -->
<app-footer></app-footer>
<!-- Footer End -->