<app-nav></app-nav>
<!-- Things to do -->
<div class="">
    <img src="../../assets/things.avif">
    <h1 class="text-3xl text-center mt-14">Things To Do In Bangalore</h1>
    <!-- List of things to do in bangalore -->
    <div class="flex mt-20">
        <img src="../../assets/cubbon Park.avif" class="h-96 ml-20 w-full">
        <div class="ml-24">
            <h1 class="text-3xl ">Visit Cubbon Park and Lal Bagh</h1>
            <p class="text-2xl mt-5">Cubbon Park and Lal Bagh are two of the must-visit tourist places in Bangalore.
                Located in the heart of
                Bangalore, the lush and beautiful Cubbon Park is the ideal place for jogging and leisurely walks. Lal
                Bagh, one of the major Bangalore attractions, is a botanical garden covering 240 acres, dotted with
                about 1,854 species of plants.</p>
        </div>
    </div>

    <div class="container grid grid-cols-2 mt-20">
        <div class="ml-20">
            <h1 class="text-3xl">Enjoy a wildlife safari at Bannerghatta National Park</h1>
            <p class="text-2xl mt-5">A wildlife safari at Bannerghatta National Park is a must if you are visiting
                Bangalore for an extended stay. The zoo, crocodile farm and butterfly park located within the national
                park are its main attractions.</p>
        </div>
        <img src="../../assets/tiger.avif" class="h-96 w-full">
    </div>

    <div class="flex mt-20">
        <img src="../../assets/wonderla.avif" class="h-96 ml-20 w-full">
        <div class="ml-24">
            <h1 class="text-3xl ">Have fun in Wonderla Amusement Park</h1>
            <p class="text-2xl mt-5">Wonderla Amusement Park, Bangalore is located just an hour and a half away from
                Panchami Comforts via road. Wonderla is the perfect destination to have a fun-filled time with friends
                and family!</p>
        </div>
    </div>
</div>

<!-- Booking -->
<div class="booking-2 mt-16">
    <h1 class="text-gray-900  text-4xl text-center font-mono p-2">Call / WhatsApp For Reservation And
        get
        10%
        discount
        and Get 23hrs from Check In time </h1>
    <div class="flex mb-4 mt-10 text-center">
        <div class="w-1/2 ">
            <a href="tel:+919901744166"
                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Call
                Us Now</a>
        </div>
        <div class="w-1/2 "><a href="https://api.whatsapp.com/send?phone=919901744166"
                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">WhatsApp</a>
        </div>
    </div>
</div>
<!-- Booking End -->
<!-- Details -->
<div class="mb-4 mt-16 ">
    <div class="text-center">
        <h3 class="text-3xl">Panchami Comforts</h3>
        <p class="mt-5">No 1, Back Gate, GLOBAL VILLAGE TECH PARK,<br> Balaji Tower, Mylasandra, BEML Layout 7th
            Stage,
            Bengaluru, Karnataka 560059</p>
        <p>Ph: 9901744166</p>
        <p>Ph: 9341300698</p>
        <p>E-mail: panchamicomforts@gmail.com</p>
    </div>
</div>
<!-- Details End -->
<!-- Footer -->
<app-footer></app-footer>
<!-- Footer End -->