<!-- Nav Bar -->
<app-nav></app-nav>
<!-- End Of Nav -->

<!--Body -->
<div class="font-serif mt-32 bg-gradient-to-bl from-gray-200 to-gray-300">
    <!-- Intro -->
    <div class="max-w-sm flex-row lg:max-w-full lg:flex">
        <div class="lg:h-auto lg:w-1/2 flex-none w-ful text-center overflow-hidden">
            <img src="../../assets/rep.JPG" class="ml-3 h-96 mt-5  " />
        </div>
        <div class="">
            <div class=" text-gray-900 text-4xl ml-2  mt-10">Welcome To Panchami Comforts
            </div>
            <p class="text-gray-900  mt-5 ml-2 text-2xl">Stationed in the heart of India’s IT city,
                Panchami Comforts is one of the finest
                budget hotels in Bangalore, suitable for business and leisure travellers. Strategically located
                close to
                places like Global Village Tech Park, Pattanagere Metro Station and Kengeri Bus Station, Panchami
                Comforts is a great pick for guests looking for easy accessibility.</p>
        </div>
    </div>

    <!--End of intro-->

    <!-- About Company -->
    <div class="about">
        <h1 class="text-gray-900 text-5xl text-center mt-20">About Panchami Comforts</h1>
        <div class="about-1">
            <div class="flex-col">
                <h1 class="text-gray-900 text-4xl items-center mt-10 ml-5 font-mono p-2">Clean and
                    Hygienic</h1>

                <h2 class="text-gray-900 text-2xl ml-5 p-2">It's always a good idea to stay in a hotel when you
                    travel.
                    Try Panchami Comforts It's a clean and hygienic hotel stay in Bangalore. The rooms are equipped
                    with
                    all the basic amenities to keep you comfortable during your stay.</h2>
            </div>
            <div class="about-2">
                <div class="flex-col">
                    <h1 class="text-gray-900 text-4xl items-center mt-10 ml-5 font-mono p-2">Affordable Pricing</h1>
                    <h2 class="text-gray-900 text-2xl ml-5 p-2">Panchami Comforts is a value for money business
                        hotel
                        in
                        the
                        heart of Bangalore. The services offered by us are at an affordable
                        price without compromising the quality of our services. We focus
                        on customer fulfilment and happiness with services that are personalized to suit the needs
                        of
                        every
                        guest.</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- End of about company -->

    <!-- Rooms -->
    <div class="container grid  sm:grid-cols-1 lg:grid-cols-2 text-center mt-5 gap-2 mx-auto">
        <div class=" bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <img class="rounded-t-lg" src="../../assets/PHOTOS 02.png" alt="" />
            <div class="p-5">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Luxury
                    Room</h5>
                    <p>The Luxury Rooms at Hotel Panchami Comforts are bespoke accommodations spanning 250 sq. ft. These
                        rooms with a king size bed and city views come with facilities such as a minibar, an in-room safe and a
                        single lounger.</p>
                <button routerLink="/luxury"
                    class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    Book Now
                    <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 14 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M1 5h12m0 0L9 1m4 4L9 9" />
                    </svg>
                </button>

            </div>
        </div>

        <div class=" bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <img class="rounded-t-lg" src="../../assets/PHOTOS 01.png" alt="" />
            <div class="p-5">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Deluxe
                    Room</h5>
                    <p>The Deluxe Rooms, featuring a king size bed and resplendent city or garden views, are perfect for couples
                        as well as solo travellers. Avail of a range of complimentary facilities and services at these 220 sq.
                        ft. rooms in Mylasandra.</p>
                <button routerLink="/deluxe"
                    class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    Book Now
                    <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 14 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M1 5h12m0 0L9 1m4 4L9 9" />
                    </svg>
                </button>
            </div>
        </div>
        <div class=" bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <img class="rounded-t-lg" src="../../assets/PHOTOS 04.png" alt="" />
            <div class="p-5">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Standard
                    Room</h5>
                    <p>The Standard Rooms are cosy spaces with modern amenities ideal for business and corporate executives.
                        These 140 sq. ft. rooms in Bangalore feature fine furniture and decor with delightful city views.</p>
                <button a routerLink="/standard"
                    class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    Book Now
                    <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 14 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M1 5h12m0 0L9 1m4 4L9 9" />
                    </svg>
                </button>
            </div>
        </div>
    </div>

    <!-- Booking -->
    <div class="booking-2 mt-16">
        <h1 class="text-gray-900  text-4xl text-center font-mono p-2">Book DirectlyAnd
            get
            10%
            discount
            and Get 23hrs from Check In time </h1>
        <div class="flex mb-4 mt-10 text-center">
            <div class="w-1/2 ">
                <a href="tel:+919901744166"
                    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Call
                    Us Now</a>
            </div>
            <div class="w-1/2 "><a href="https://api.whatsapp.com/send?phone=919901744166"
                    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">WhatsApp</a>
            </div>
        </div>
    </div>
    <!-- Booking End -->

    <!-- Details -->
    <div class="mb-4 mt-16 ">
        <div class="text-center">
            <h3 class="text-3xl">Panchami Comforts</h3>
            <p class="mt-5">No 1, Back Gate, GLOBAL VILLAGE TECH PARK,<br> Balaji Tower, Mylasandra, BEML Layout 7th
                Stage,
                Bengaluru, Karnataka 560059</p>
            <p>Ph: 9901744166</p>
            <p>Ph: 9341300698</p>
            <p>E-mail: panchamicomforts@gmail.com</p>
        </div>
    </div>
    <!-- Details End -->


    <!-- Map -->
    <div class="">
        <a href="https://maps.app.goo.gl/8dka1BkNM1Ye6wG77"><img src="../../assets/Map.png"
                class="max-w-sm w-full mt-5 h-96  flex-row lg:max-w-full lg:flex"></a>
    </div>
    <!-- Map End -->

    <app-footer></app-footer>
  
</div>


<router-outlet></router-outlet>