<nav class="bg-white border-gray-200 fixed w-full top-0 left-0 dark:bg-gray-900">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-3">
        <img src="../../assets/panchami comforts logo_page-0001.jpg" class="h-20" alt="Panchami Logo" />
        <span class="self-center text-3xl font-serif  dark:text-white">Panchami Comforts</span>           
        <div class="w-full md:block md:w-auto" id="navbar-default">
            <ul
                class="font-medium grid  lg:grid-cols-6 gap-7 grid-cols-3 p-4 border border-gray-100 rounded-lg bg-gray-50  md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
                <li>
                    <a href="#"
                        class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"
                        aria-current="page">Home</a>
                </li>
                <li>
                    <a href="/facilities"
                        class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Facilites</a>
                </li>
                <li>
                    <a href="/rooms"
                        class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Rooms</a>
                </li>
                <li>
                    <a href="/gallery"
                        class="block py-2 pl-3 pr-4  text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Gallery</a>
                </li>
                <li>
                    <a href="/contact-us"
                        class="block py-2 ml-1  pr-4 text-gray-900 rounded  hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Book Now</a>
                </li>
            </ul>
        </div>
    
    </div>
</nav>

<h1 class="mt-36 text-center text-3xl">Luxury Rooms</h1>

<!-- Room details -->
<div class="container mt-3 grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2">
    <img src="../../assets/PHOTOS 01.png">
    <img src="../../assets/PHOTOS 02.png">
    <img src="../../assets/PHOTOS 03.jpg">
</div>
<h1 class="text-center text-2xl mt-3">Amenities</h1>
<div class="container grid lg:grid-cols-2 sm:grid-cols-1 mt-10 text-center text-2xl font-mono">
    <ul>
        <li>Air-conditioning</li>
        <li>Wi-Fi Internet Access</li>
        <li>Complimentary Breakfast</li>
        <li>Electric Kettle</li>
        <li>Locker/Private Safe</li>
        <li>Hot Water</li>
        <li>Television (32" LED TV)</li>
    </ul>
    <ul>
        <li>Mineral Water Bottle</li>
        <li>Laundry Service</li>
        <li>Housekeeping</li>
        <li>Work Desk & Chair</li>
        <li>Sofa</li>
        <li>Coffee table</li>
        <li>Wardrobe</li>
    </ul>
</div>
<div class="text-center">
    <button routerLink="/contact-us" type="button"
        class="text-white mt-10 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Book
        Now</button>
</div>

<h1 class="text-center text-2xl">CheckOut Ours Other Rooms</h1>
<div class="container grid  sm:grid-cols-1 lg:grid-cols-2 text-center mt-5 gap-2 mx-auto">
    <div class=" bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <img class="rounded-t-lg" src="../../assets/PHOTOS 01.png" alt="" />
        <div class="p-5">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Deluxe
                Room</h5>
                <p>The Deluxe Rooms, featuring a king size bed and resplendent city or garden views, are perfect for couples
                    as well as solo travellers. Avail of a range of complimentary facilities and services at these 220 sq.
                    ft. rooms in Mylasandra.</p>
            <button routerLink="/deluxe"
                class="inline-flex mt-3 items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Get Details
                <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M1 5h12m0 0L9 1m4 4L9 9" />
                </svg>
            </button>
        </div>
    </div>
    <div class=" bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <img class="rounded-t-lg" src="../../assets/PHOTOS 04.png" alt="" />
        <div class="p-5">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Standard
                Room</h5>
                <p>The Standard Rooms are cosy spaces with modern amenities ideal for business and corporate executives.
                    These 140 sq. ft. rooms in Bangalore feature fine furniture and decor with delightful city views.</p>
            <button a routerLink="/standard"
                class="inline-flex mt-3 items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Get Details
                <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M1 5h12m0 0L9 1m4 4L9 9" />
                </svg>
            </button>
        </div>
    </div>
</div>

<!-- Details -->
<div class="mb-4 mt-16 ">
    <div class="text-center">
        <h3 class="text-3xl">Panchami Comforts</h3>
        <p class="mt-5">No 1, Back Gate, GLOBAL VILLAGE TECH PARK,<br> Balaji Tower, Mylasandra, BEML Layout 7th
            Stage,
            Bengaluru, Karnataka 560059</p>
        <p>Ph: 9901744166</p>
        <p>Ph: 9341300698</p>
        <p>E-mail: panchamicomforts@gmail.com</p>
    </div>
</div>
<!-- Details End -->
<!-- Footer -->
<div class="container grid lg:grid-cols-2 sm:grid-cols-1 text-black  font-thin">
    <div class="text-center">
        <h1 class="">Copyright © 2023 Panchami Comforts All Rights Reserved Version 1(Beta)</h1>
    </div>
    <div class="text-center">
        <h1 class=""> Website Design & Maintain by Chandra Shekar R </h1>
    </div>
</div>
<!-- Footer End -->