<!-- Nav Bar -->
<app-nav></app-nav>
<!-- End Of Nav -->
<!-- Body -->
<img src="../../assets/Room.avif">
<h1 class="text-4xl mt-24 text-center">Immaculate Accommodations at Our Hotel in Bangalore</h1>
<div class="container grid  sm:grid-cols-1 lg:grid-cols-2 text-center mt-10 gap-2 mx-auto">
    <div class=" bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <img class="rounded-t-lg" src="../../assets/PHOTOS 02.png" alt="" />
        <div class="p-5">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Luxury
                Room</h5>
            <p>The Luxury Rooms at Hotel Panchami Comforts are bespoke accommodations spanning 250 sq. ft. These
                rooms with a king size bed and city views come with facilities such as a minibar, an in-room safe and a
                single lounger.</p>
            <button routerLink="/luxury"
                class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Book Now
                <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M1 5h12m0 0L9 1m4 4L9 9" />
                </svg>
            </button>
        </div>
    </div>

    <div class=" bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <img class="rounded-t-lg" src="../../assets/PHOTOS 01.png" alt="" />
        <div class="p-5">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Deluxe
                Room</h5>
            <p>The Deluxe Rooms, featuring a king size bed and resplendent city or garden views, are perfect for couples
                as well as solo travellers. Avail of a range of complimentary facilities and services at these 220 sq.
                ft. rooms in Mylasandra.</p>
            <button routerLink=""
                class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Book Now
                <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M1 5h12m0 0L9 1m4 4L9 9" />
                </svg>
            </button>
        </div>
    </div>

    <div class=" bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <img class="rounded-t-lg" src="../../assets/PHOTOS 04.png" alt="" />
        <div class="p-5">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Standard
                Room</h5>
            <p>The Standard Rooms are cosy spaces with modern amenities ideal for business and corporate executives.
                These 140 sq. ft. rooms in Bangalore feature fine furniture and decor with delightful city views.</p>
            <button a routerLink=""
                class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Book Now
                <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M1 5h12m0 0L9 1m4 4L9 9" />
                </svg>
            </button>
        </div>
    </div>
</div>
<!-- Booking -->
<div class="booking-2 mt-16">
    <h1 class="text-gray-900  text-4xl text-center font-mono p-2">Call / WhatsApp For Reservation And
        get
        10%
        discount
        and Get 23hrs from Check In time </h1>
    <div class="flex mb-4 mt-10 text-center">
        <div class="w-1/2 ">
            <a href="tel:+919901744166"
                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Call
                Us Now</a>
        </div>
        <div class="w-1/2 "><a href="https://api.whatsapp.com/send?phone=919901744166"
                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">WhatsApp</a>
        </div>
    </div>
</div>
<!-- Booking End -->
<!-- Details -->
<div class="mb-4 mt-16 ">
    <div class="text-center">
        <h3 class="text-3xl">Panchami Comforts</h3>
        <p class="mt-5">No 1, Back Gate, GLOBAL VILLAGE TECH PARK,<br> Balaji Tower, Mylasandra, BEML Layout 7th
            Stage,
            Bengaluru, Karnataka 560059</p>
        <p>Ph: 9901744166</p>
        <p>Ph: 9341300698</p>
        <p>E-mail: panchamicomforts@gmail.com</p>
    </div>
</div>
<!-- Details End -->
<!-- Footer -->
<app-footer></app-footer>
<!-- Footer End -->


